<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<%
const checkURL = (url) => {
    if(url.includes('http')){
        return url
    }else{
        return ('http://' + url)
    }
}
%>

<body>
    <header>
        <ul>
            <%socials.forEach(_social => {%>

                <li>
                    <a href="<%=checkURL(_social.target_url)%>">
                        <img src="<%=_social.img_url%>" alt="">
                    </a>
                </li>
                
            <%})%>
        </ul>
    </header>
</body>
</html>